:root{
    font-size: 16px;
    font-family: 'Baloo 2', cursive;
    --text-primary : #b6b6b6;
    --test-secondary : #ececec;
    --bg-primary : #232323;
    --bg-secondary : #141414;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
header{
    height: 10vh;
    text-align: center;
}
.main-body{
    display: flex;
    justify-content: space-evenly;
    
}
.admin-card,.faculty-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.faculty-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.wrapper{
    width: 30vw;
    height: 40vh;
}
.wrapper img{
    max-width: 100%;
    max-height: 30vh;
}
.login-card{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input::placeholder{
    text-align: center;
    color: var(--test-secondary);
    font-family: 'Baloo 2', cursive;
}
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color:#fff;
    background-color: var(--bg-primary);
    color: var(--test-secondary);
    max-width: 15vw;
}
input:focus {
    border-color: #6649b8;
}
.login-card{
    background-color: var(--bg-primary);
}
button{
    max-width: 5vw;
}
button:hover{
    background-color:#dd3ead;
}
