{% load static %}
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{% static 'AIT2020/css/bootstrap.min.css' %}">
        <script src="{% static 'AIT2020/javascript/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'AIT2020/javascript/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'AIT2020/css/Home.css' %}">
        <script src="{% static 'AIT2020/javascript/Home.js' %}"></script>
    </head>
    <body>
        <header>
            <h2>Gayatri Vidhya Parishad College Of Engineering(Autonomous)</h2>
        </header>
        <main>
            <div  class="main-body">
            <div class="admin-card">
                <div class="wrapper admin">
                    <img src="{% static 'AIT2020/images/admin.png' %}">
                    <h3>Admin Login</h3>
                </div>
                <div class="login-card admin-login">
                    <input type="text" class="ausername" placeholder="User Name">
                    <input type="password" class="apassword" placeholder="Password">
                    <button type="button" class="admin btn btn-info">Login</button>
                </div>
            </div>
            <div class="faculty-card ">
                <div class="wrapper faculty">
                    <img src="{% static 'AIT2020/images/teaching.png' %}">
                    <h3>Faculty Login</h3>
                </div>
                <div class="login-card faculty-login">
                    <input type="text" class="fusername" placeholder="User Name">
                    <input type="password" class="fpassword" placeholder="Password">
                    <button type="button" class="faculty btn btn-info">Login</button>
                </div>
            </div>
            </div>
        </main>
    </body>
</html>